" This file is managed by chezmoi. Always edit it with these commands:
" chezmoi edit {{ .chezmoi.targetFile }}
" chezmoi diff
" chezmoi -v apply

source ~/.vimrc
source ~/.lazyideavimrc
set quickscope

" IDEA Actions Mappings
nnoremap <Leader><TAB> :action NextWindow<CR>
