{{ template "chezmoi_header" . }}

[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}
	signingkey = {{ .git.signingKey | quote }}

[core]
	excludesfile = ~/.gitignore
	autocrlf = input
{{ if eq .osid "windows" -}}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}

[push]
	followTags = true
	autoSetupRemote = true

[pull]
	rebase = true

[rebase]
	autoStash = true
	autosquash = true
	updateRefs = true

[commit]
	gpgsign = true

[gpg]
	format = ssh

{{ if eq .osid "windows" -}}
[gpg "ssh"]
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
{{- end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[alias]
	default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
	merge-base-origin ="!f() { git merge-base ${1-HEAD} origin/$(git default-branch); };f "
	stack = "!f() { \
		BRANCH=${1-HEAD}; \
		MERGE_BASE=$(git merge-base-origin $BRANCH); \
		git log --decorate-refs=refs/heads --simplify-by-decoration --pretty=format:\"%(decorate:prefix=,suffix=,tag=,separator=%n)\" $MERGE_BASE..$BRANCH; \
	};f "
	push-stack = "!f() { \
		BRANCH=${1-HEAD}; \
		git stack $BRANCH | xargs -I {} git push --force-with-lease origin {}; \
	};f "
