{{ template "chezmoi_header" . }}

# Docker
docker() {
  case $1 in
    ps)
      shift
      command dops "$@"
      ;;
    *)
      command docker "$@";;
  esac
}
alias dk="docker"
alias dkc="docker compose"

# Kubernetes
alias k="kubectl"

# Laravel
alias sail="./vendor/bin/sail"

{{ if eq .osid "darwin" }}
# Use GNU sed in macOS
alias sed="gsed"
{{ end }}

# Vim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
