" This file is managed by chezmoi. Always edit it with these commands:
" chezmoi edit {{ .chezmoi.targetFile }}
" chezmoi diff
" chezmoi -v apply

" --- Plugins ---
if !has('nvim')
  call plug#begin()
  Plug 'psliwka/vim-smoothie'
  Plug 'tpope/vim-surround'
  Plug 'preservim/nerdtree'
  Plug 'unblevable/quick-scope'
  call plug#end()
endif

" --- Clipboard/register ---
" yank/paste from system clipboard
set clipboard+=unnamed

" --- Indentation ---
" auto indent based on language
set smartindent

" tab button inserts space characters instead
set expandtab

" a tab is four spaces
set tabstop=4

" when hitting <BS>, pretend like a tab is removed, even if spaces
set softtabstop=4

" number of spaces to use for autoindenting
set shiftwidth=4

" use multiple of shiftwidth when indenting with '<' and '>'
set shiftround

" --- Scroll ---

" keep n lines in view when scrolling
set scrolloff=5

" --- Line Numbers ---

" show current line number
set number

" show relative line numbers
set relativenumber

" --- Search ---
" highlight search results
set hlsearch

" searching starts immediately when typing
set incsearch

" ignores case by default in search
set ignorecase

" doesn't ignore case when UPPERCASE letters exist in search
set smartcase

" --- Keybinds ---
" Space is the leader key
map <Space> <Leader>

" go to normal mode by jj
imap kj <Esc>

" put search results in the middle of the screen
nnoremap n nzz
nnoremap N Nzz

" easy tab switching via H and L
nmap H gT
nmap L gt

" easy scrolling via Shift-J and Shift-K
nnoremap J <C-d>
nnoremap K <C-u>
