{{ template "chezmoi_header" . }}

ServerAliveInterval 60
ServerAliveCountMax 10

{{ if eq .osid "darwin" }}
Include ~/.colima/ssh_config
{{ end }}

{{ if eq .bitwarden.is_rbw_available true }}
# SSH Hosts
{{ (rbw "SSH Hosts").notes }}
{{ end }}
