{{ template "chezmoi_header" . }}

ServerAliveInterval 60
ServerAliveCountMax 10

{{ if eq .osid "darwin" }}
Include ~/.colima/ssh_config
Include ~/.orbstack/ssh/config
{{ end }}

{{ if ne .osid "windows" }}
# SSH Hosts
{{ (rbw "SSH Hosts").notes }}
{{ end }}
