{{ if eq .osid "windows" -}}
    echo "--- Installing Winget Packages ---"
    {{ $apps := list
    "Docker.DockerDesktop"
    "Armin2208.WindowsAutoNightMode"
    }}
    {{ if not .headless }}
        {{ range $app := $apps }}
            echo "Installing {{ $app }}..."
            winget install -e --id {{ $app }}
        {{ end }}
    {{ end -}}

    exit 0
{{ end -}}