{{ if eq .osid "windows" -}}
{{ template "powershell_elevate" . }}

{{ $packages := list
 "neovim"
 "git"
 "gsudo"
 "python"
-}}
{{ $apps := list
 "postman"
 "pycharm"
 "goland"
 "webstorm"
-}}
choco install -y {{ $packages | join " " }} {{ $apps | join " " }}

{{ template "powershell_pause_on_error" . }}
{{ end -}}