{{ if eq .osid "windows" -}}
    echo "--- Installing Winget Packages ---"
    {{ if not .headless }}
        {{ range $app := .packages.windows.winget }}
            echo "Installing {{ $app }}..."
            winget install -e --id {{ $app }}
        {{ end }}
    {{ end -}}

    exit 0
{{ end -}}