{{ if eq .osid "windows" -}}
echo "--- Adding Scoop Buckets ---"
scoop bucket add extras
scoop bucket add qyurila_scoop-bucket https://github.com/qyurila/scoop-bucket
scoop bucket add anderlli0053_DEV-tools https://github.com/anderlli0053/DEV-tools

echo "--- Installing Scoop Packages ---"

function Install-Or-Update-Scoop {
    param([string]$AppName)
    if (scoop list $AppName 2>$null 6>$null) { scoop update $AppName } else { scoop install $AppName }
}

{{ $packages := list
 "neovim"
 "git"
 "gsudo"
 "python"
 "npiperelay"
 "oh-my-posh"
 "git-aliases"
 "pipx"
-}}
{{ $apps := list
 "bitwarden"
 "obsidian"
 "ticktick"
 "telegram"
 "slack"
 "postman"
 "pycharm-professional"
 "goland"
 "webstorm"
 "kopiaui"
 "syncthingtray"
 "powertoys"
-}}
{{ range $package := $packages }}
Install-Or-Update-Scoop {{ $package }}
{{ end }}
{{ if not .headless }}
{{ range $app := $apps }}
Install-Or-Update-Scoop {{ $app }}
{{ end -}}
{{ end -}}
{{ end -}}