{{ if eq .osid "darwin" -}}
#!{{ lookPath "bash" }}

brew install rbw

# Don't auto-lock so often (default was 3600)
rbw config set lock_timeout 86400

# Fix pinentry using 100% cpu (https://github.com/doy/rbw/issues/11)
rbw config set pinentry $(which pinentry-tty)
rbw config set base_url {{ .bitwarden.server }}
rbw config set email {{ .bitwarden.email }}
rbw login
{{ end -}}
