{{ if eq .osid "darwin" -}}

{{ $brews := list
     "artginzburg/tap/sudo-touchid"
     "awscli"
     "chezmoi"
     "colima"
     "docker"
     "docker-credential-helper"
     "docker-credential-helper-ecr"
     "mas"
     "curl"
     "gh"
     "git"
     "git-lfs"
     "git-absorb"
     "go"
     "jq"
     "pyenv"
     "tlrc"
     "nvim"
     "nvm"
     "wget" -}}
{{ $casks := list
     "zen"
     "spotify"
     "vlc"
     "transmission"
     "stats"
     "obsidian"
     "ticktick"
     "slack"
     "syncthing-app"
     "visual-studio-code"
     "pycharm"
     "goland"
     "webstorm"
     "iterm2@beta"
     "postman"
     "whatsapp"
     "telegram" -}}

#!{{ lookPath "bash" }}

brew update
brew bundle --file=/dev/stdin <<EOF
{{ range (.packages.darwin.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ if not .headless -}}
{{ range (.packages.darwin.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ end -}}
EOF

{{ range .packages.darwin.services }}
if [[ $(brew services info {{ . }} --json | jq -r '.[0].registered') == "false" ]]; then
  sudo brew services start {{ . }}
fi
{{ end -}}

{{ range $name, $id := .packages.darwin.mas }}
echo "Installing {{ $name }} from Mac App Store..."
mas install {{ $id }}
{{ end }}
{{ end -}}
