{{ template "chezmoi_header" . }}

# === === === ===
# === Bindings ===
# === === === ===

# ` as prefix
unbind C-b
set-option -g prefix `
bind-key ` send-prefix

# split panes using | and -
bind c new-window -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# bind r to reload config
bind r source-file ~/.config/tmux/tmux.conf

# C-l is used by vim-tmux-navigator, clear buffer by <prefix> C-l
bind C-l send-keys -R ^M \; clear-history

# copy mode bindings, making it more like vim cause why not
bind Enter copy-mode
unbind [
bind -T copy-mode-vi v send -X begin-selection
bind-key -T copy-mode-vi V send -X select-line
bind -T copy-mode-vi C-v send -X rectangle-toggle
bind -T copy-mode-vi y send -X copy-pipe-and-cancel

# === === === ===
# === SETTINGS ===
# === === === ===
set-environment -g PATH "/opt/homebrew/bin:/bin:/sbin:/usr/bin"

set -g mouse on
set -g default-terminal "tmux-256color"
set -g mode-keys vi

# Allows me to make muscle memory with <prefix> + 1,2,3,...
set -g renumber-windows on
set -g base-index 1
setw -g pane-base-index 1

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# Emacs key bindings in tmux command prompt (prefix + :) are better than
# vi keys, even for vim users
set -g status-keys emacs

# Focus events enabled for terminals that support them
set -g focus-events on

# Super useful when using "grouped sessions" and multi-monitor setup
setw -g aggressive-resize on

# === === === === === === ===
# === THEME - CATPPUCCIN ===
# === === === === === === ===
set -g @catppuccin_flavor 'latte'
set -g @catppuccin_window_status_style 'rounded'
set -g @catppuccin_window_text " #W"
set -g @catppuccin_window_default_text " #W"
set -g @catppuccin_window_current_text " #W"
set -g status-right-length 100
set -g status-left-length 100
set -g status-left "#{E:@catppuccin_status_session} "
set -g status-right "#{E:@catppuccin_status_application}"
set -ag status-right "#{E:@catppuccin_status_uptime}"

# === === === ===
# === PLUGINS ===
# === === === ===
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'erikw/tmux-dark-notify'
set -g @plugin 'omerxx/tmux-sessionx'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# === === === === === ===
# === PLUGIN SETTINGS ===
# === === === === === ===
set -g @sessionx-bind 'o'
set -g @sessionx-x-path '~/.local/share/chezmoi'
set -g @dark-notify-theme-path-light '~/.config/tmux/light-theme.conf'
set -g @dark-notify-theme-path-dark '~/.config/tmux/dark-theme.conf'
set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-strategy-nvim 'session'
set -g @resurrect-processes '"claude->claude --resume" btop'
set -g @continuum-restore 'on'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

# Placed after TPM is initialized, because the ordering of plugin initialization is not guaranteed
if-shell "test -e ~/.local/state/tmux/tmux-dark-notify-theme.conf" \
         "source-file ~/.local/state/tmux/tmux-dark-notify-theme.conf"

