{{ template "chezmoi_header" . }}

# === === === ===
# === Bindings ===
# === === === ===
# ` as prefix
unbind C-b
set-option -g prefix `
bind-key ` send-prefix
# split panes using | and -
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %
# bind r to reload config
bind r source-file ~/.config/tmux/tmux.conf
# C-l is used by vim-tmux-navigator, clear buffer by <prefix> C-l
bind C-l send-keys -R ^M \; clear-history

# === === === ===
# === SETTINGS ===
# === === === ===
# set-environment -g PATH "{{ lookPath "tmux" }}/..:/bin:/usr/bin"
set-environment -g PATH "/opt/homebrew/bin:/bin:/usr/bin"
set -g mouse on
set -g default-terminal "tmux-256color"
set -g mode-keys vi

# === === === === === === ===
# === THEME - CATPPUCCIN ===
# === === === === === === ===
set -g @powerkit_plugins "cpu,memory,fan,git,hostname"
set -g @powerkit_theme "catppuccin"
set -g @powerkit_separator_style "rounded"
set -g @powerkit_status_interval "2"
set -g @powerkit_transparent "false"
set -g @powerkit_elements_spacing "windows"

# === === === ===
# === PLUGINS ===
# === === === ===
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'fabioluciano/tmux-powerkit'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'erikw/tmux-dark-notify'

set -g @dark-notify-theme-path-light '$HOME/.config/tmux/light-theme.conf'
set -g @dark-notify-theme-path-dark '$HOME/.config/tmux/dark-theme.conf'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
