{{ template "chezmoi_header" . }}

# === === === ===
# === Bindings ===
# === === === ===

# ` as prefix
unbind C-b
set-option -g prefix `
bind-key ` send-prefix

# split panes using | and -
bind c new-window -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# bind r to reload config
bind r source-file ~/.config/tmux/tmux.conf

# C-l is used by vim-tmux-navigator, clear buffer by <prefix> C-l
bind C-l send-keys -R ^M \; clear-history

# copy mode bindings, making it more like vim cause why not
bind Enter copy-mode
unbind [
bind -T copy-mode-vi v send -X begin-selection
bind-key -T copy-mode-vi V send -X select-line
bind -T copy-mode-vi C-v send -X rectangle-toggle
bind -T copy-mode-vi y send -X copy-pipe-and-cancel

# === === === ===
# === SETTINGS ===
# === === === ===
set-environment -g PATH "/opt/homebrew/bin:/bin:/usr/bin"

set -g mouse on
set -g default-terminal "tmux-256color"
set -g mode-keys vi

# Allows me to make muscle memory with <prefix> + 1,2,3,...
set -g renumber-windows on
set -g base-index 1
setw -g pane-base-index 1

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# Emacs key bindings in tmux command prompt (prefix + :) are better than
# vi keys, even for vim users
set -g status-keys emacs

# Focus events enabled for terminals that support them
set -g focus-events on

# Super useful when using "grouped sessions" and multi-monitor setup
setw -g aggressive-resize on

# === === === === === === ===
# === THEME - CATPPUCCIN ===
# === === === === === === ===
set -g @powerkit_plugins "cpu,memory,fan,git,hostname"
set -g @powerkit_theme "catppuccin"
set -g @powerkit_separator_style "rounded"
set -g @powerkit_status_interval "2"
set -g @powerkit_transparent "false"
set -g @powerkit_elements_spacing "windows"

# === === === ===
# === PLUGINS ===
# === === === ===
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'fabioluciano/tmux-powerkit'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'erikw/tmux-dark-notify'

set -g @dark-notify-theme-path-light '$HOME/.config/tmux/light-theme.conf'
set -g @dark-notify-theme-path-dark '$HOME/.config/tmux/dark-theme.conf'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
